@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    min-width: auto;
    max-width: 100%;
    font: 15px 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
}

.modal-header {
    .modal-title {
        font-weight: bold;
    }
}
